<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>treehole</display-name>
  <welcome-file-list>
  
    <welcome-file>main.jsp</welcome-file>
   
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>selectAll</servlet-name>
  	<servlet-class>com.treehole.servlet.ArticleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>selectAll</servlet-name>
  	<url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>selectAnonymous</servlet-name>
  	<servlet-class>com.treehole.servlet.ArticleAnonymousServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>selectAnonymous</servlet-name>
  	<url-pattern>/ArticleAnonymousServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>selectRealName</servlet-name>
  	<servlet-class>com.treehole.servlet.ArticleRealNameServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>selectRealName</servlet-name>
  	<url-pattern>/ArticleRealNameServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>com.treehole.servlet.ArticleAddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/ArticleAddServlet</url-pattern>
  </servlet-mapping>
  
   
</web-app>